<div class="container">
        <h1 class="text-center py-5">Editing Pet</h1>

    <%= render 'form', pet: @pet %>

    <%= link_to 'Show', @pet, :class=>"btn btn-secondary mt-2" %> |
    <%= link_to 'Back', pets_path, :class=>"btn btn-secondary mt-2" %>
</div>


